{% extends "base.html" %}
{% block title %}{{ club.name }} {{ day }} - {{ block.super }}{% endblock %}
{% block header_title_outer %}<h4>{{ club.name }} - {{ day }}</h4>{% endblock %}

{% block main %}

<dl>
  {% if instructor %}
  <dt>Instructor</dt>
  <dd><a href="{{ instructor.get_absolute_url }}">{{ instructor.full_name }}</a></dd>
  {% endif %}

  <dt>Classes</dt>
  <dd>
     <dl>
       {% for class in classes %}
         <dt>{{class.style }}</dt>
         <!--<dd><a href="{{ class.get_absolute_url }}">{{ class.start_time }} - {{ class.end_time }}</a></dd>-->
	 <dd>{{ class.start_time }} - {{ class.end_time }}</dd>
       {% endfor %}
     </dl>
  </dd>

{% if first_class %}

  <dt>Address</dt>
  <dd>
    {{ first_class.address1 }}<br/>
    {{ first_class.address2 }}<br/>
    {{ first_class.address3 }}<br/>
    {{ first_class.address4 }} {{ first_class.address5 }}<br/>
    {% if map_link %}
      <a href="{{ map_link }}">View on map</a><br/>
    {% endif %}
  </dd>
  
  {% if first_class.directions %}
    <dt>Directions</dt>
    <dd>{{ first_class.directions }}</dd>
  {% endif %}
{% endif %}

</dl>

{% if not first_class %}
<p>Sorry, no class on this day.</p>
{% endif %}


<p><a href="{{ club.get_absolute_url }}">Back to {{ club.name }} club page</a></p>
{% endblock %}